{# templates/security/secured.html.twig #}
{% extends 'base.html.twig' %}

{% block title%}Page sécurisée{% endblock %}

{% block body %}
<h1>Page sécurisée</h1>

<h2>Bonjour {{ user.login }}!</h2>
{% endblock %}
