{% extends 'base.html.twig' %}

{% block title%}Catégorie index{% endblock %}

{% block body %}
<h1>Catégorie index</h1>

<table>
    <tr>
        <th>numcat</th>
        <th>libelle</th>
        <th>tauxtva</th>
        <th>action</th>
    </tr>
    {% for categorie in categories %}
        <tr>
            <td>
                {{ categorie.numcat }}
            </td>
            <td>
                {{ categorie.libelle }}
            </td>
            <td>
                {{ categorie.tauxtva }}
            </td>
            <td>
                <a href="/categorie/{{ categorie.numcat }}">modifier</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
